:root {
  --primary: #dd946f;
  --primary-hover: #cd7d7c;
  --background: rgb(246, 248, 111);
  --navbar-height: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background-image: url(src/mimi-thian--VHQ0cw2euA-unsplash.jpg);
  background-size: cover;
  background-repeat: repeat;
}

.menu__wrapper {
  display: flex;
  position: fixed;
  flex-direction: row;
  z-index: 2;
}

/* .background {
  display: flex;
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: 1;
  background-size: cover;
  background-repeat: repeat;
} */

.menu__bar {
  margin-top: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: 24px;
  gap: 32px;
  background-color: rgb(246, 248, 111);
  height: 60px;
  /* opacity: 0.9; */
}

.menu-icon {
  cursor: pointer;
  display: flex;
  height: 32px;
  width: 32px;
}

.navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 24px;
  padding: 0px;
  background-color: var(--background);
}

.logo {
  margin-left: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.navigation > li {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
}

.navigation > li > a {
  color: rgb(35, 73, 61);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    var(--primary-hover),
    var(--primary-hover) 50%,
    rgb(35, 73, 61) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 3px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}

.navigation > li > a:before {
  content: "";
  background: var(--primary-hover);
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in-out;
}

.navigation > li > a:hover {
  background-position: 0;
}
/*  hover effect inspired by 
  https://codepen.io/team/css-tricks/pen/OJOXWPp
*/

.navigation > li > a:hover::before {
  width: 100%;
}

@media (min-width: 375px) {
  .navigation > li > a {
    font-size: 15px;
  }
}

@media (max-width: 759px) {
  .navigation > li > a {
    font-size: 15px;
  }
}

.green-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 850px;
  background-color: rgb(35, 73, 61, 0.7);
}

.green-body-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.green-body-texts h1 {
  font-size: 100px;
  color: rgb(246, 248, 111, 0.6);
}

.green-body-texts p {
  font-size: 30px;
  text-align: center;
  padding: 15px;
}

.green-body-texts button {
  margin-top: 20px;
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(35, 73, 61, 0.6);
  color: rgb(246, 248, 111);
  border: 5px solid rgb(246, 248, 111, 0.6);
}

.green-body-texts button:hover {
  background-color: rgb(246, 248, 111);
  color: rgb(35, 73, 61);
  border: 5px solid rgb(35, 73, 61);
}

@media (max-width: 759px) {
  .green-body {
    height: 100vh;
  }

  .green-body .green-body-texts {
    margin-top: 80px;
  }

  .green-body .green-body-texts h1 {
    font-size: 30px;
  }
  .green-body .green-body-texts p {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .green-body {
    height: 100vh;
  }

  .green-body .green-body-texts {
    margin-top: 60px;
  }

  .green-body .green-body-texts h1 {
    font-size: 30px;
  }

  .green-body .green-body-texts p {
    font-style: 15px;
  }
}
